.card {
  background-color: #513E6D !important;
  cursor:pointer !important;
}

.card:hover .cardMedia {
  opacity: 1;
}

.cardMedia {
  height: 18rem;
  object-fit: cover;
  opacity: 1;
}

.cardHeader {
  color: #2E1159 !important;
  line-height: 36px !important;
  font-size: 20px !important;
  font-weight: bold !important;
}

.cardHeaderContainer {
  background-color: #F4EFA8;
  height: 6rem;
}

.cardDescContainer {
  height: 12rem !important;
}

@media (min-width: 576px) {
  .cardMedia {
    height: 24rem;
    opacity: 0.75;
    transition: 0.3s;
  }
  .cardDescContainer {
    height: 14rem !important;
  }
}

@media (min-width: 768px) {
  .cardMedia {
    height: 260px;
  }
}