.toolbar-logo {
  height: auto;
  width: 60vw;
}

.App {
  background-color: #f8f9fa;
}

.toolbar-title {
  margin: 5px 0px 20px 15px;
  height: 35px;
}

.wwami-logo {
  margin: 15px 15px 0px 15px;
  height: 80px;
}

.toolbar-tabs a {
  color: white;
  text-decoration: none;
}

.toolbar-tabs li {
  padding: 0 0.5rem;
}

.toolbar-tabs ul {
  list-style: none;
  margin: none;
  padding: none;
  display: flex;
}

.tabLabel {
  color: #440088 !important;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 4px;
}

.tabLabel:hover {
  background-color: #dddddd;
}

.tabSubLabel {
  color: #440088 !important;
  font-weight: bold;
}

.tabSubLabel:hover {
  background-color: #dddddd;
}

.dropdown-toggle {
  color: #440088 !important;
}

@media (min-width: 768px) {
  .toolbar-logo {
    height: 65px;
    margin: 10px 15px;
    max-width: 485px;
  }
  .tabLabel {
    font-size: 1.3em;
  }
}