.toolbar-logo {
  text-align: left;
  margin: 15px 0px 0px 30px;
}

.toolbar-tabs a {
  color: white;
  text-decoration: none;
}

.toolbar-tabs li {
  padding: 0 0.5rem;
}

.toolbar-tabs ul {
  list-style: none;
  margin: none;
  padding: none;
  display: flex;
}

.tabLabel {
  font-size: 1.2em;
  font-weight: bold;
}